html {
  background: linear-gradient(to right, #cca06e, #6892a3);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#titeldiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 400px;
}

#titel {
  font-size: 60px;
}

#searchBarDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#search-bar {
  font-size: 40px;
  width: 25%;
  height: 40px;
  border-radius: 10px;
}

#searchButton {
  font-size: 40px;
  border-radius: 10px;
}
